*{
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

/*-------------------------- Header---------------------------- */

.fa-arrow-left{
    position: absolute;
    height: 100%;
    left: 4rem;
    top: 3.5rem;
    color: #353535;
    font-size: 3rem;
}

.header{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}

.logo img {
    width: 45%;
    min-width: 180px;
    height: auto;
}

/*-------------------------- Image Banière ---------------------------- */
.baniere img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 45vh;
}

/*-------------------------- Section Main  ---------------------------- */

main{
    background-color: #F6F6F6;
    margin-top: -40px;
    position: relative;
    border-radius: 50px 50px 0px 0px;
}


.layout-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem 2rem 0rem 0rem;
}

.layout-heart h1{
    font-family: 'shrikhand', sans-serif;
    font-size: min(5rem, 7vw);
    color: #101010;
    margin: 4rem 0rem 0rem 0rem;
    padding-left: 2rem;
    font-weight: 400;
}

.layout-heart i{
    position: absolute;
    right: 5rem;
    top: 5rem;
    font-size: min(4rem, 6vw);
}

.my-heart-full{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.my-heart-full:hover{
    background-clip: text;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
}

/*--------Section Main 1--------*/

.Page{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}

.Page h3{
    font-size: min(2.5rem, 5vw);
    color: #101010;
    margin: 3rem 0rem 1rem 2rem;
    font-weight: 300;
}

hr{
    width: 10%;
    border: 3px solid #99E2D0;
    margin: 0rem 0rem 2rem 2rem;
}

@keyframes apparition {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

#article_1{
    animation: apparition 400ms ease-in;
}

#article_2{
    animation: apparition 600ms ease-in;
}

#article_3 {
    animation: apparition 800ms ease-in;
}
  
#article_4{
    animation: apparition 1000ms ease-in;
}
#article_5{
    animation: apparition 1200ms ease-in;
}

#article_6 {
    animation: apparition 1400ms ease-in;
}
  
#article_7{
    animation: apparition 1800ms ease-in;
}

#article_8{
    animation: apparition 2000ms ease-in;
}

#article_9 {
    animation: apparition 2200ms ease-in;
}
    

.article-menu{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    margin: 0rem 2rem;
    overflow: hidden;
}

.Détails{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 35px;
    box-shadow: 0px 4px 15px rgba(0,0,0,.25);
    margin-bottom: 2rem;
}

.Détails h4{
    font-size: min(4.5rem, 4vw);
    color: black;
    margin: 2rem 0rem -1.5rem 2.5rem;
    font-weight: 500;
}

.Détails p{
    font-size: min(3rem, 4vw);
    color: black;
    margin-left: 2.5rem;
    font-weight: 300;
}

.price{
    position: absolute;
    font-size: 2.5rem;
    right: 4rem;
    bottom: 5rem;
    color: #353535;
}

.article-menu:hover .price{
    right: 9rem;
    transition: 1.5s;
}

.checkmark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 0rem 1rem 1rem 0rem;
    right: -9.5rem;
    background-color: #99E2D0;
    color: white;
    font-size: 2.5rem;
    width: 15%;
    height: 85%;
}

.article-menu:hover .checkmark{
    right: 0rem;
    transition: 1.5s;
}

.article-menu:hover .checkmark i{
    animation: spin 1s;
    animation-delay: 0.5s;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*---------Bouton COMMANDER---------*/


.button{
    display: flex;
    justify-content: center;
}

.button1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: min(2.5rem, 3vw);
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    box-shadow: 0px 0px 10px rgba(0,0,0,.25);
    width: 45%;
    padding: 25px 10px;
    border-radius: 50px;
    margin: 1rem 0rem 6rem 0rem;
}

/* Section Footer */

footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 2rem 0rem;
}

.footer-logo h1{
    font-family: 'shrikhand', sans-serif;
    font-weight: 400;
    font-size: min(4rem, 5vw);
    display: flex;
    padding: 0rem 3rem;
    margin-top: 0rem;
    color: #FFFFFF;
}

.footer-liens {
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    margin-top: 1rem;
    color: #FFFFFF;
}

.footer-liens a{
    text-decoration: none;
    font-size: min(3rem, 4vw);
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.footer-liens .First{
    font-weight: 500;
}

.footer-liens .Second{
    font-weight: 300;
}

.footer-liens a .fa-utensils{
    width: 50px;
}

.footer-liens a .fa-handshake-angle{
    width: 50px;
}


@media all and (min-width:1024px){

.fa-arrow-left{
    font-size: 1.5rem;
}

.logo img{
    width: 20%;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: -4rem 10rem 0rem 10rem;
}

.title-menu1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-heart h1{
    font-size: min(2rem, 3vw);
    padding-left: 0rem;
}

.layout-heart i{
    font-size: min(2rem, 3vw);
    top: 4.5rem;
    right: 10rem;
}

.Page h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

hr {
    width: 8%;
    border: 2px solid #99E2D0;
    margin-bottom: 1rem;
}

.article-menu {
    margin: 0rem 2rem;
}

.Détails{
    margin-bottom: 1rem;
    border-radius: 20px;
}

.Détails h4 {
    font-size: 20px;
    margin: 1rem 0rem -1rem 1.5rem;
}

.Détails p {
    font-size: 20px;
    margin: 1.5rem 0rem 1rem 1.5rem;
}

.price {
    font-size: 20px;
    right: 1rem;
    bottom: 2.5rem;
}

.article-menu:hover .price{
    right: 7.5rem;
    transition: 1.5s;
}

.Page{
    padding: 0rem 8rem;
}

.button1{
    font-size: min(1rem, 2vw);
    width: 20%;
    padding: 15px 10px;
    margin: 2rem 0rem 3rem 0rem;
}

/* Section Footer */
    
footer{
    padding: 4rem 0rem 3rem 0rem;
    width: 100%;
}

.footer-logo h1{
    font-size: 22px;
    margin-bottom: -4rem;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
}

.footer-liens {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    padding: 0rem 8rem 0rem 0rem;
    margin-top: 1rem;
    color: #FFFFFF;
}

.footer-liens a{
    font-size: 15px;
}

.footer-liens .First{
    font-weight: 500;
    width: 200px;
}

.footer-liens .Second{
    font-weight: 300;
    width: 120px;
}

.footer-liens a .fa-utensils{
    width: 15%;
}

.footer-liens a .fa-handshake-angle{
    width: 15%;
}
    

}











