*{
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    background-color: #FFFFFF;
    padding-top: 40px;
}

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Roboto', sans-serif;
}




@media all and (max-width: 767px) { /*Mobile*/

/*header {
   box-shadow: 0px 2px 4px grey;
}*/

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.restaurants{
    background-color: #f6f6f6;
}

.restaurants h1{
    font-size: 50px;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 2em;
}


.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.restcard{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.card .restcard img{
    object-fit: cover;
    height: 200px;
    border-radius: 30px 30px 0 0;
}

.figcaption{
    text-decoration: none;
}

.card span {
    position: absolute;
    right: 10px;
    background-color: #99E2D0;
    color: #2FAF94;
    padding: 0.5rem;
    width: 65px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
}



}